{% extends '../base.html' %}
{% load static %}
{% block title %}Rule List{% endblock %}

{% block content %}

<div id="page-wrapper">
  <div id="page-inner">
    <div class="row">
      <div class="col-md-12">
        <h1>Rules Management</h1>
      </div>
    </div>
    <hr>
    <h4>Items Rule</h4>
    <table class="table table-striped">
      <th>Rule Code</th>
      <th>Item Name</th>
      <th>status</th>
    <tbody>
      {% for rule in rule1 %}
      <tr>
        <td>{{rule.rule_code}}</td>
        <td>{{rule.item.name}}</td>
        <td>
          <input type="checkbox" id="{{rule.id}}" name="rule1Activate" checked data-toggle="toggle">
        </td>
      </tr>
      {% endfor %}
      
    </tbody>
    </table>
    <button type="button" class="btn btn-success pull-right" data-toggle="modal" id="addItemRule" data-target="#addRule1">Add New Rule</button>
    <div class="row"></div>
    <h4>Price Range Rule</h4>
    <table class="table table-striped">
      <th>Rule Code</th>
      <th>Price Limit</th>
      <th>status</th>
    <tbody>
      {% for rule in rule2 %}
      <tr>
        <td>{{rule.rule_code}}</td>
        <td>{{rule.price_limit}}</td>
        <td>
          <button type="button" class="btn btn-warning" data-toggle="modal" id="mdo" data-target="#exampleModal" data-whatever="@mdo">edit</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    </table>

    <h4>Approve Level Rule</h4>
    <table class="table table-striped">
      <th>Rule Code</th>
      <th>Price Limit</th>
      <th>status</th>
    <tbody>
      {% for rule in rule3 %}
      <tr>
        <td>{{rule.rule_code}}</td>
        <td>{{rule.level}}</td>
        <td>
          <button type="button" class="btn btn-warning" data-toggle="modal" id="mdo" data-target="#exampleModal" data-whatever="@mdo">edit</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
    <!-- /. ROW  -->
    <hr />
    

    <div class="modal fade" id="addRule1" tabindex="-1" role="dialog" aria-labelledby="addRule1Label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h3 class="modal-title" id="addRule1Label">Add New Item Rule</h3>
            
          </div>
          <div class="modal-body">
            <form name="rule1data" id="rule1data">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Rule Code:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Item:</label>
                <select
                class="form-control"
                id="loadsubgroups"
               name="loadsubgroups"
              >
              <option class="d-none" disabled selected>Select Item</option>
        
              {% for item in items %}
            
                  <option style="color:black;" data-value="" value="">{{item.name}}</option>
              {% endfor %}
              
             
            </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Add</button>
          </div>
        </div>
      </div>
    </div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>


    <!-- /. ROW  -->
  </div>
  <!-- /. PAGE INNER  -->
</div>

{% endblock %}

{% block javascript %}



{% endblock javascript %}

