{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Responsive Admin</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="{% static 'css/font-awesome.css'%}" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href=" {% static 'css/custom.css'%}" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
      type="text/css"
    />

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
  
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script> -->
  </head>
  <body>
    <div id="wrapper">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="adjust-nav">
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle"
              data-toggle="collapse"
              data-target=".sidebar-collapse"
            >
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
              <h3 style="color: #fff">PP</h3>
            </a>
          </div>

          <span class="logout-spn">
            <a href="#" style="color: #fff">LOGOUT</a>
          </span>
        </div>
      </div>
      <!-- /. NAV TOP  -->
      <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
          <ul class="nav" id="main-menu">
            <li>
              <a href="#"
                ><i class="fa fa-desktop"></i>Dashboard
                <span class="badge">Included</span></a
              >
            </li>

            <li>
              <a href="#"
                ><i class="fa fa-table"></i>UI Elements
                <span class="badge">Included</span></a
              >
            </li>
            <li>
              <a href="{% url 'rulelist'%}"
                ><i class="fa fa-lock"></i>Rules Management 
                </a
              >
            </li>

            <!-- <li>
              <a href="#"><i class="fa fa-qrcode"></i>My Link One</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-bar-chart-o"></i>My Link Two</a>
            </li>

            <li>
              <a href="#"><i class="fa fa-edit"></i>My Link Three </a>
            </li>
            <li>
              <a href="#"><i class="fa fa-table"></i>My Link Four</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-edit"></i>My Link Five </a>
            </li> -->
          </ul>
        </div>
      </nav>
      <!-- /. NAV SIDE  -->

     
      <!-- /. PAGE WRAPPER  -->
    </div>

    <main>{% block content %} {% endblock content %}</main>


    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->

    <!-- <script src="{% static 'assets/js/jquery-1.10.2.js'%}"></script> -->
    <!-- BOOTSTRAP SCRIPTS -->
    <!-- <script src="{% static 'assets/js/bootstrap.min.js'%}"></script> -->
    <!-- CUSTOM SCRIPTS -->
    <!-- <script src="{% static 'assets/js/custom.js'%}"></script> -->


    <!-- worked one -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- toggle button -->
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <script>


      $( document ).ready(function() {
        console.log( "ready!" );
      });
      $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-body #ruleid').val(recipient)
      });

      $('#exampleModal1').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-body #ruleid1').val(recipient)
      });

      $("[name='rule1Activate']").on('change', function(e){
        e.preventDefault();
      
        var id = $(this).data("id");
        console.log(id);
  
        $.ajax({
          url:'{% url "rule1status" %}',
          data: {
              id: id
          },
          method: 'get',
          error: function (e){
            alert('error');
          },
          success: function (data){
          if(data.is_taken==2){
          console.log('deactivated');
              setTimeout(function() {
                  window.location.reload();
              }, 1500);
          }
          else{
            console.log('activated');

          }
          
          }
        }); 
      });


      $("[name='rule2Activate']").on('change', function(e){
        e.preventDefault();
      
        var id = $(this).data("id");
        console.log(id);
  
        $.ajax({
          url:'{% url "rule2status" %}',
          data: {
              id: id
          },
          method: 'get',
          error: function (e){
            alert('error');
          },
          success: function (data){
          if(data.is_taken==2){
          console.log('deactivated');
              setTimeout(function() {
                  window.location.reload();
              }, 1500);
          }
          else{
            console.log('activated');

          }
          
          }
        }); 
      });


      $("[name='rule3Activate']").on('change', function(e){
        e.preventDefault();
      
        var id = $(this).data("id");
        console.log(id);
  
        $.ajax({
          url:'{% url "rule3status" %}',
          data: {
              id: id
          },
          method: 'get',
          error: function (e){
            alert('error');
          },
          success: function (data){
          if(data.is_taken==2){
          console.log('deactivated');
              setTimeout(function() {
                  window.location.reload();
              }, 1500);
          }
          else{
            console.log('activated');
            var id=data.id;
            console.log(data.id);

          }
          
          }
        }); 
      });

     
    </script>

  </body>
</html>
