{% extends '../accounts-base.html' %}
{% block title %}Order Requests{% endblock title %}

{% block stylesheet %}

{% endblock stylesheet %}

{% block content %}
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h2>Items Catalog</h2>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container">
                <button class="btn btn-danger" style="float: right;" type="button" data-toggle="modal" id="mdo" data-target="#itemModel">Add Item</button>
            </div>
            <div>
                <table class="table table-light">
                    <thead>
                        <tr scope="row">
                            <th>#</th>
                            <th>name</th>
                            <th>description</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in item_list %}
                        <tr>
                            <td scope="col">{{ item.id }} </td>
                            <td>{{ item.name }} </td>
                            <td>{{ item.description }}</td>
                            <td><a href="{% url 'item_prices_view' item.id %}"> <button class="btn btn-primary" type="button">Add Price</button></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!--Model from here-->

        <div class="modal fade" id="itemModel" tabindex="-1" role="dialog" aria-labelledby="itemModelLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h3 class="modal-title">Add Item </h3>
                  
                </div>
                <div class="modal-body">
                  <form id="itemAdd">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="itemNameId">Name</label>
                        <input id="itemNameId" class="form-control" type="text" name="item_name">
                    </div>
                    <div class="form-group">
                        <label for="itemDescriptionId">Description</label>
                        <textarea id="itemDescriptionId" class="form-control" name="item_description" rows="3"></textarea>
                    </div>
                 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary" id="add_btn" >Add</button>
      
                </form>
                </div>
              </div>
            </div>
          </div>

    </div>
</div>

{% endblock content %}
{% block javascript %}
<script>
    $(function(){
        $('#add_btn').click(function(){
            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
            var item_description = $('#itemDescriptionId').val();
            var item_name= $('#itemNameId').val();

            $.ajax({
                url:"{% url 'items_add' %}",
                type: 'POST',
                headers: {
                    "X-CSRFToken": csrftoken
                },
                dataType: 'json',
                data: {
                    'item_name': item_name,
                    'item_description': item_description
                }, 
                success: function(data){
                    if(success_status == 1){
                        alert('success')
                    }else{
                        alert(data.error_message)
                    }
                }
            })



        });


    });

</script>
{% endblock javascript %}