{% extends '../accounts-base.html' %}
{% block title %}Items Prices{% endblock title %}

{% block stylesheet %}

{% endblock stylesheet %}

{% block content %}
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1>Items Prices</h1>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container">
                <p>Item : {{ item.name }} </p>
                {% if item.description %}
                <p><strong>Description : </strong></p>
                <pre>            {{ item.description }} </pre>
                {% endif %}
            </div>
            <div class="container">
                <div class="container">
                    <table class="table table-light" id="prices_table">
                        <thead class="thead-light">
                            <tr scope="row">
                                <th>#</th>
                                <th>Supplier</th>
                                <th>Price</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <form class="form form-inline">
                                    {% csrf_token %}
                                    <td> </td>
                                    <input id="itemId" class="form-control" type="text" name="item_id"
                                        style="display: none;" />
                                    <td>

                                        <div class="form-group col-4 m-2">
                                            <select id="supplierId" class="form-control selectpicker"
                                                data-live-search="true" name="supplier">
                                                <option value="default" disabled selected> -- Supplier</option>
                                                {% for supplier in supplier_list %}
                                                <option value="{{ supplier.id }}">{{ supplier.company_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </td>
                                    <td>

                                        <div class="form-group col-4  m-2">
                                            <input id="priceId" class="form-control" type="number" name="price" min="1">
                                        </div>
                                    </td>

                                    <td>
                                        <div class="form-group col-1">
                                            <input id="submit_btn" class="form-control btn btn-info" type="submit"
                                                value="Add">
                                        </div>

                                    </td>

                                </form>
                            </tr>
                            {% for price in item.itemprices_set.all %}
                            <tr id="{{ price.id }}">
                                <td scope="col"> {{ forloop.counter }} </td>
                                <td> {{ price.supplier.company_name }} </td>
                                <td class="text-right"> {{ price.price }}.00 </td>
                                <td class="text-right form-group col-1  m-2">
                                    <input id="remove_btn" class="btn btn-danger" type="submit" value="Remove">
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block javascript %}
<script>
    $(function () {

        $('#submit_btn').click(function () {

            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
            supplier = $('#supplierId').val()
            price = $('#priceId').val()


            call_url = "{% url 'item_prices_add' item.id  %}"

            $.ajax({
                url: call_url,
                type: 'POST',
                headers: {
                    "X-CSRFToken": csrftoken
                },
                data: {
                    'price': price,
                    'supplier': supplier,
                },
                dataType: 'json',
                success: function (data) {
                    if (data.success_status == 1) {

                    } else {
                        alert(data.error_message);
                    }
                }
            });
        });

        $('#remove_btn').click(function () {
            item_price_id = $(this).parent().parent().attr('id')
            
            $.ajax({
                url: "{% url 'item_prices_remove' item.id %}",
                dataType: 'json',
                data: {
                    'item_price_id': item_price_id
                },
                success: function (data) {
                    if (data.success_status == 1) {
                        alert(data.success_message)
                        $('#'+item_price_id).remove();
                        
                    } else {
                        alert(data.error_message);
                    }
                }
            });
        });


    });
</script>
{% endblock javascript %}