{% extends '../accounts-base.html' %}
{% block title %}Items Prices{% endblock title %}

{% block stylesheet %}

{% endblock stylesheet %}

{% block content %}
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h2>Purchase Orders</h2>
            </div>
        </div>
        <div class="container-fluid">
            <div class="card shadow bg-white">
                <div class="card-body">
                    <table class="table table-light">
                        <thead class="thead-light">
                            <tr>
                                <th>order id</th>
                                <th>site </th>
                                <th>order status</th>
                                <th>active </th>
                                <th>expected date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders_list %}
                            <tr>
                                <td> #{{ order.id }} </td>
                                <td> {{ order.site.name }} </td>
                                <td> {{ order.status.status }} </td>
                                <td style="color: #214761;"> {{ order.active }} </td>
                                <td> {{ order.delivery_date }} </td>
                                <td><a href="{% url 'view_order_request' order.request.id %}"><button class="btn btn-warning" type="button">Open</button></a>  </td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
{% block javascript %}
<script>

</script>
{% endblock javascript %}