{% extends '../accounts-base.html' %}
{% block title %}Items Prices{% endblock title %}

{% block stylesheet %}

{% endblock stylesheet %}

{% block content %}
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1>Purchase Orders</h1>
            </div>
        </div>
        <div class="container-fluid">
            <table class="table table-light">
                <tbody>
                    {% for order in orders_list %}
                    <tr>
                        <td> {{ order.id }} </td>
                        <td> {{ order.site.name }} </td>
                        <td> {{ order.status.status }} </td>
                        <td> {{ order.active }} </td>
                        <td> {{ order.delivery_date }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock content %}
{% block javascript %}
<script>

</script>
{% endblock javascript %}